:host
  height 100%
  width 100%
  display flex
  flex-direction column

mat-toolbar
  display flex
  flex-direction row

.app-title
  flex-grow 1

mat-sidenav-container
  flex-grow 1

mat-sidenav
  min-width 75%