<section id="current-activities" *ngIf="currentActivities | async as ca">
    <h2>Current Activities:</h2>
    <p *ngIf="ca.length === 0">No activities are active.</p>
    <app-current-activity
        *ngFor="let activity of ca"
        [activity]="activity"
        (stopActivity)="stopActivity($event)"
        (deleteActivity)="deleteActivity($event)">
    </app-current-activity>
</section>

<section id="suggested-activities" *ngIf="suggestedActivities | async as sa">
    <h2>Suggested Activities:</h2>
    <p *ngIf="sa.length === 0">No activity suggestions.</p>
    <app-suggested-activity
        *ngFor="let activity of sa"
        [activity]="activity"
        (startActivity)="startActivity($event)">
    </app-suggested-activity>
</section>

<section id="add-activity">
    <mat-form-field id="new-activity-form-field">
        <mat-label>Start new activity</mat-label>
        <input matInput type="text" [(ngModel)]="newActivity">
    </mat-form-field>
    <button
        mat-button
        [disabled]="!newActivity"
        matSuffix
        mat-icon-button
        aria-label="Start new activity"
        (click)="startNewActivity()"
        color="accent">
        <mat-icon>play_arrow</mat-icon>
    </button>
</section>