:host
  height 100%
  width 100%
  display flex
  flex-direction column

section
  margin 8px

#current-activities
  flex-grow 1

#add-activity-form
  display flex
  flex-direction row

#new-activity-form-field
  flex-grow 1