<section id="current-activities" *ngIf="currentActivities | async as ca">
    <h2>Current Activities:</h2>
    <p *ngIf="ca.length === 0">No activities are active.</p>
    <app-current-activity
        *ngFor="let activity of ca"
        [activity]="activity"
        (stopActivity)="stopActivity($event)"
        (deleteActivity)="deleteActivity($event)">
    </app-current-activity>
</section>

<section id="suggested-activities" *ngIf="suggestedActivities | async as sa">
    <h2>Suggested Activities:</h2>
    <p *ngIf="sa.length === 0">No activity suggestions.</p>
    <app-suggested-activity
        *ngFor="let activity of sa"
        [activity]="activity"
        (startActivity)="startActivity($event)">
    </app-suggested-activity>
</section>

<section id="add-activity">
    <form id="add-activity-form" (submit)="startNewActivity()">
        <mat-form-field id="new-activity-form-field">
            <input
                type="text"
                placeholder="Start new activity"
                aria-label="Start new activity"
                matInput
                [formControl]="newActivity"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredLabels | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Start new activity"
            type="submit"
            color="accent">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </form>
</section>